@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Prompt:wght@100&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:'Poppins','sans-serif';
        }
body{
  height: 100vh;
  background-color:#4070f4;
}
ul{
  padding: 0 ;
  margin: 0 ;
}

::-webkit-scrollbar{
  display: none;
}
.display-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}
.justify-between{
  justify-content: space-between;
}
.color-white{
  color: white;
}
.color-black{
  color: black;
}
.bg-transparent{
  background-color: transparent;
  border: none;
}
li{
  list-style: none;
}
.decoration-none{
  text-decoration: none;
}

.gap-10{
  gap: 10px;
}
.gap-1{
  gap: 1rem;
}
.gap-05{
  gap: 0.5rem;
}
.gap-5{
  gap: 5px;
}
.flex-column{
  flex-direction: column;
}
.cursor-pointer{
  cursor: pointer;
}
.gap-2{
  gap: 1.75rem;
}
.justify-end{
  justify-content: flex-end;
}
.cursor-disabled{
  cursor: not-allowed;
  opacity: 0.7;
}
